<p>
  <%= link_to 'back', admin_quizzes_path %>
</p>

<div>
  <%= button_to "Add question", new_admin_quiz_question_path(@quiz), :class => "btn btn-default pull-right", :method => :get %>
  <h2><%= @quiz.title %></h2>
</div>

<table class="table">
  <tbody>
    <% @quiz.questions.each do |q| %>
    <tr>
      <td>
        <p class="panel-body">
          <%= q.body %>
        </p>
      </td>
      <td>
        <ul>
          <% q.answers.each do |a| %>
          <li>
            <%= a.body %>
          </li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= link_to "Add answers", new_admin_quiz_question_answer_path(@quiz, q), class: "btn btn-info" %>
      </td>
      <td>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
